
.login-btn, .logout-btn{
    background-color: #1b4971 !important;
    border-color: transparent !important;
    font-size: 14px !important;
    padding: 10px 26px !important;
    margin-left: 10px;
}